{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-default">
	<div class="container">
		<a class="navbar-brand mt-0" href="{% url 'homepage' %}">
			<img class="" src="{% static 'images/logo.jpg' %}">
	 	</a>
	  	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
	  	</button>
	  	<div class="navbar-collapse collapse" id="navbar-default">
			<div class="navbar-collapse-header">
		  		<div class="row">
					<div class="col-6 collapse-brand">
			  			<a href="{% url 'homepage' %}">
							<img src="{% static 'images/logo.jpg' %}">
			  			</a>
					</div>
					<div class="col-6 collapse-close">
			  			<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
							<span></span>
							<span></span>
			  			</button>
					</div>
		  		</div>
			</div>
			<ul class="navbar-nav ml-lg-auto">
		  		<li class="nav-item">
					<a class="nav-link nav-link-icon" href="{% url 'get-or-give' 'food' %}">
						<i class="fa-solid fa-bread-slice"></i>
			  			<span class="nav-link-inner--text">Food</span>
					</a>
		  		</li>
		  		<li class="nav-item">
					<a class="nav-link nav-link-icon" href="{% url 'get-or-give' 'house' %}">
						<i class="fa-solid fa-house-user"></i>
						<span class="nav-link-inner--text">House</span>
					</a>
		  		</li>
		  		<li class="nav-item">
					<a class="nav-link nav-link-icon" href="{% url 'get-or-give' 'health' %}">
						<i class="fa-solid fa-stethoscope"></i>
			  			<span class="nav-link-inner--text">Health<span>
					</a>
		  		</li>
			</ul>
	  	</div>
	</div>
</nav>