{% extends 'base.html' %}

{% block content %}
	<div class="refugeesHelper-choose-help">
		<div class="refugeesHelper-title refugeesHelper-choose-title">
			<h2 class="display-3">
				{{ category }}
			</h2>
		</div>
		<div class="flex-column flex-sm-row align-items-center refugeesHelper-actions">
			<div class="card card-blog card-background" data-animation="zooming">
				<div class="full-background" style="background-image: url('/static/images/get-card.jpg')"></div>
				<a href="{% url 'handle_help' category 'get' %}">
				  	<div class="card-body">
						<div class="content-bottom">
							<h6 class="card-category text-white opacity-8">Follow to choose help</h6>
							<h5 class="card-title">Get help</h5>
						</div>
					</div>
				</a>
			</div>
			<div class="card card-blog card-background" data-animation="zooming">
				<div class="full-background" style="background-image: url('/static/images/give-card.jpg')"></div>
				<a href="{% url 'handle_help' category 'give' %}">
				  	<div class="card-body">
						<div class="content-bottom">
							<h6 class="card-category text-white opacity-8">Follow to choose help</h6>
							<h5 class="card-title">Give help</h5>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
{% endblock %}